<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RealtimeHubLeaveCalculationNotificationEndpoint" value="https://localhost:5003/api/notifications/leave-calculation-status" />
    <add key="RealtimeHubNotificationUsername" value="sample-api" />
    <add key="RealtimeHubNotificationPassword" value="sample-secret" />
    <add key="SignalREnabled" value="false" />
    <add key="HubTokenSecret" value="dev-only-demo-hub-token-secret" />
    <add key="HubTokenLifetimeMinutes" value="30" />
    <add key="GenericJobInitialDelaySeconds" value="1" />
    <add key="GenericJobStepDelaySeconds" value="5" />
    <add key="LeaveCalculationXmlPath" value="~/App_Data/LeaveCalculationJobs.xml" />
    <add key="LeaveCalculationInitialDelaySeconds" value="0" />
    <add key="LeaveCalculationStepDelaySeconds" value="5" />
    <add key="LeaveCalculationLeaveCodeDelaySeconds" value="0.1" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
